on init
    write /proc/sys/kernel/hung_task_timeout_secs 0

on late-init
    setprop sys.usb.configfs 1

on boot
    symlink /dev/block/platform/13520000.ufs/by-name /dev/block/by-name	
    chown root system /dev/block/by-name	
    chmod 0666 /dev/block/by-name
